<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>contactEmailRot13</key>
    <string>Mbarmreb5@tznvy.pbz</string>
    <key>contactName</key>
    <string>Andrew Fricke</string>
    <key>description</key>
    <string>&lt;a href="http://www.twig-project.org/"&gt;Twig&lt;/a&gt;, the flexible, fast, and secure template language for PHP.</string>
    <key>name</key>
    <string>PHP-Twig</string>
    <key>uuid</key>
    <string>CCD0E062-5F76-4118-91FD-D5D20B2EA0A8</string>
</dict>
</plist>
